@font-face {
    font-family: 'Source Sans Pro XtraLight';
    font-style: normal;
    font-weight: 1000;
    src: url('../font/SourceSansPro-ExtraLight.ttf') format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro Light';
    font-style: normal;
    font-weight: 700;
    src: url('../font/SourceSansPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro-Semibold';
  font-style: normal;
  font-weight: 300;
  src: url('../font/SourceSansPro-Semibold.ttf') format('truetype');
}

.main-popup-in{
    animation: main-popup-in-anim 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.main-popup-out{
   animation: main-popup-out-anim 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

.rotating {
   animation: rotating 1.5s cubic-bezier(0.1, 0.68, 0.68, 0.19) infinite;
}

.glowing {
  animation: glowing-anim 5s ease-in-out infinite;
}

.fade-in-fast{
  animation: fade-in-anim 0.5s cubic-bezier(0.4, 0, 1, 1);
}

.fade-in{
  animation: fade-in-anim 1s cubic-bezier(0.4, 0, 1, 1);
}

.fade-out{
  animation: fade-out-anim 1s cubic-bezier(0.4, 0, 1, 1);
}

@keyframes main-popup-in-anim{
    0%{ top: 7%; opacity: 0.3; display: block; }
    50%{ top: 4%; opacity: 0.6; }
    100% { top: 2% opacity: 1; }
}

@keyframes main-popup-out-anim{
    0%{ top: 2% opacity: 1; }
    50%{ top: 4%; opacity: 0.6; }
    100% { top: 7%; opacity: 0.3; display: none;}
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes glowing-anim{
    0% { box-shadow: 0 0 15px rgb(230, 239, 230); }
    33% { box-shadow: 0 0 45px #788878; }
    66% { box-shadow: 0 0 30px #060606; }
    100% { box-shadow: 0 0 15px rgb(230, 239, 230); }
}

@keyframes fade-in-anim {
   0% { opacity: 0 }
   100%{ opacity: 100 }
}

@keyframes fade-out-anim {
  0% { opacity: 100; }
  100% { opacity: 0; }
}

@keyframes fade-in-anim-box {
   0% { opacity: 0%;
        display:block; }
   100%{ opacity: 100%; }
}

@keyframes fade-out-anim-box {
  0% { opacity: 100%; }
  100% { opacity: 0%; 
         display: none }
}



