* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    font-family: 'Source Sans Pro Light';
    overflow-x: hidden;
    margin: 0;
    /* width: 10em; */
    /* height: 100%; */
}


div#title-screen{
    width: 100%;
    display:block;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 1em;
    /* min-height: 6em; */
    /* height: 20%; */
    /* border-bottom: 1px black solid; */
}

p.title {
    display: block;
    margin: 0 auto;
    width: 20%;
}

p.hue-fail-text {
    text-align: center;
    font-size: 1.4em;
}

div.app-icon-c{
    min-width: 10em;
    height: 7em;
    cursor: pointer;
    display: inline-block;
    margin-right: 1em;
    margin-top: 0.5em;
}

div.app-icon-button{
    display: block;
    padding: 1em;
    width: inherit;
    height: inherit;
    background: #fff;
    border-radius: 2em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.app-icon-button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img.app-icon-logo{
    width: inherit;
    height: inherit;
}

div#clock-container{
    display: block;
    /* margin-left: 2em; */
    /* float: left; */
    /* margin: 0 auto; */
    text-align: center;
    align-items: stretch;
    /* width: 100%; */
    /* border-bottom: 1px solid white; */
    font-family: Source Sans Pro-Semibold;
}

div#clock-display {
    font-size: 2em;
    margin: 0 auto;
    /* width: 50%; */
    /* display: block; */
}

img.first-time-logo-img{
    width: 3em;
    height: 3em;
    /* max-width: 10%; */
}

img.main-notes-cancel-img{
    width: 2.5em;
    height: 2.5em;
    padding-top: 0.25em;
    /* float: right; */
    margin: 0 auto;
    display: block;
    filter: grayscale(100%);
}

img.main-notes-ok-img{
    width: inherit;
    height: inherit;
    margin: 0 auto;
    display: block;
}

img.pair-img {
    max-width: 100%;
    padding-top: 10%;
}


div#apps-container {
    width: 100%;
    display: block;
    text-align: center;
    margin-bottom: 3em;
}

div#error-box{
    position: fixed;
    display: none;
    bottom: 10%;
    z-index: 1000;
    width: 50%;
    height: 5em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.2);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    font-family: "Source Sans Pro-Semibold";
}

div#error-box-text{
    margin-top: 1em; 
    margin-left: 0.5em;
}

div.first-time-app-txt{
    display: inline-block;
    font-size: 1.3em;
    /* top: 0; */
    /* bottom: 2em; */
}

div.first-time-app-row{
    /* border-top: 1px dashed black; */
    margin-bottom: 1em;
    padding-top: 1em;
    /* text-align: center; */
}

input.first-time-app-check {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    /* text-align: left; */
}

input.first-time-theme-check {
    width: 2em;
    height: 2em;
    margin-right: 1em;
    /* text-align: left; */
}


div.first-time-logo-div{
    width: 2em;
    height: 2em;
    border: 1px solid black;
    display: inline-block;
}

div.first-time-theme-txt{
    display: inline-block;
    margin-left: 1em;
}


div.full-app-c {
    /* width: inherit; */
    height: inherit;
    /* background: #f0f0f0; */
    /* background: aquamarine; */
}

div.hue-brightness-container {
    text-align: center;
    margin-top: 2em;
}

div.hue-fail-refresh-button{
    display: block;
    width:5em;
    height: 5em;
    padding: 1em;
    margin: 1em auto;
    background: #fff;
    border-radius: 2em 2em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

div.hue-fail-refresh-button-text{
    font-size: 4em;
    text-align: center;
}

div#hue-fail-refresh{
    width: 100%;
    /* height: 200%; */
}

div#hue-color-popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: white;
    display: none;
    /* background: green; */
}


div.hue-light-bar {
    padding-top: 2em;
    padding-left: 2em;
    padding-bottom: 2em;
    /* background: #f0f0f0; */
    /* width: 100%; */
    height: 30em;
    /* background: #ad5454; */
    /* max-width: 40em; */
    /* height: 20%; */
    /* display: inline-flex; */
    /* margin: 0 auto; */
    vertical-align: center;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* align-items: center; */
    /* align-content: center; */
    /* alignment-baseline: central; */
    justify-content: center;
    /* clear: both; */
    overflow: hidden;
}

div.hue-lightbar-c{
    display: inline-block;
    width: 60%;
    height: 100%;
    float: right;
    position: relative;
}

div.hue-lightbar-container{
    /* width: 10em; */
    display: inline-table;
    /* margin-right: 2em; */
    margin-bottom: 2em;
    /* max-width: 33%; */
    width: 90%;
    max-width: 20em;
    height: 6em;
    /* border-radius: 0 0 1em 1em; */
    /* border: 1px black solid; */
    /* box-shadow: 0px 21px 20px -2px rgba(0,0,0,0.41); */
}

div.hue-light-indicator {
    position: relative;
    display: inline-block;
    float: left;
    /* width: 100%; */
    width: 35%;
    /* max-width: 7em; */
    height: 100%;
    /* margin-right: 2em; */
    border-radius: 1em;
    /* outline: 1px black solid; */
    box-shadow: 0px 3px 15px 1px rgba(25, 0, 0, 0.6);
}

div.hue-light-text{
    /* text-align: center; */
    width: 100%;
    margin-left:  2em;

}

div.hue-toggle-bar{
    display: block;
    position: absolute;
    width: 5em;
    max-width: 40%;
    /* margin: 0 auto; */
    margin-left: 2em;
    height: 2em;
    background: #75787b;
    border-radius: 2em;
    bottom: 0.3em;
}

div.hue-toggle-bar-button{
    width: 1.5em;
    height: 80%;
    background: white;
    border-radius: 2em;
    margin-top: 0.2em;
    margin-left: 0.3em;
    display: inline-block;
}

div.hue-toggle-bar-button-toggled{
    width: 1.5em;
    height: 80%;
    background: white;
    border-radius: 2em;
    margin-top: 0.2em;
    /* margin-left: 58%; */
    margin-right: 5%;
    float:  right;
    display: inline-block;
}

div.hue-toggle-bar-button-disabled{
    width: 1.5em;
    height: 80%;
    background: #635f5f;
    border-radius: 2em;
    margin-top: 0.2em;
    margin-left: 1.8em;
    display: inline-block;
}

div#hue-popup-exit-div{
    margin-bottom: 12%;
}

canvas.hue-spectrum-canvas{
    /* width: 600px; */
    /* max-height: 72%; */
    /* max-width: 100%; */
    /* height: inherit; */
    margin: 0 auto;
    display: block;
    border: 1px #000 solid;
}

input#hue-brightness-slider{
    margin: 0 auto;
    display: block;
    max-width: 80%;
    width: 602px;
    max-height: 4em;
    /* margin-top: 1em; */
    color: black;
    /* border: 1px solid black; */
}
/* GENERAL RANGE */

input#hue-brightness-slider[type=range]{
  -webkit-appearance: none;
  background: #ded5d5;
  border-radius: 1em;
}


/* THE THUMB STYLE */
input#hue-brightness-slider[type=range]::-webkit-slider-thumb {
  border: 15px solid transparent;
  border-radius: 2em;
}

input#main-note-title-input{
    width: 100%;
    font-size: 1.3em;
    font-family: 'Source Sans Pro Light';
    border: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 1px 1px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    outline: none !important;
    border-radius: 0.2em;
}

input#input#main-note-title-input:hover{
    outline: 1px solid white;
}


img#hue-popup-exit{
    filter: grayscale(100%);
    width: 10%;
    max-width: 50px;
    height: auto;
    position: fixed;
    top: 0.4em;
    right: 0.4em;
}

img#hue-popup-exit:hover{
    filter: none;
}


div#main-popup {
    position: absolute;
    display: none;
    top: 0%;
    left: 0;
    right: 0;
    /* width: 99%; */
    /* height: 100%; */
    background: #fff;
    z-index: 10;
    margin: 0 auto;
    border-radius: 2px;
}

div#main-app-content{
    width: 100%;
    height:100%;
    /* overflow: hidden; */
    /* background: gray; */
}

div#notes-all-container{
    display: inline-block;
    /* margin-left: 1em; */
    height: 10em;
    margin-top: 1em;
    width: 79%;
    overflow-x: auto;
    white-space: nowrap;
    z-index: 1;
    word-break: break-all;
}

div.note-note-container{
    position: relative;
    display: inline-block;
    margin-top: 1em;
    border-radius: 1em;
    vertical-align: top;
    width: 40%;
    height: 80%;
    max-width: 12em;
    margin-left: 1em;
    /* background: #fff; */
    padding-right: 1em;
    padding-left: 1em;
    /* border: 1px solid black; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    z-index: 1;
}

div.note-note-container:hover{
    box-shadow: 0 1px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.notes-box-remove{
    /* background: #f3f5f3; */
    position: absolute;
    /* align-content: center; */
    /* margin: 0 auto; */
    bottom: 1%;
    left: 0;
    width: 100%;
    padding-top: 1em;
    height: 10%;
    border-radius: 0 0 1em 1em;
    text-align: center;
}

div.notes-box-remove:hover{
    box-shadow: 0 1px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}



div#notes-container{
    /* border: 1px solid black; */
    /* margin-top: 1em; */
    height: 12em;
    width: 100%;
    /* text-align: center; */
    /* overflow-y: scroll; */
    /* overflow-x: auto; */
    /* white-space: nowrap; */
}

div.notes-control-button {
    display: inline-block;
    /* padding: 1em; */
    vertical-align: top;
    width: 20%;
    max-width: 5em;
    height: 10em;
    /* background: #fff; */
    margin-top: 1em;
    margin-right: 1%;
    /* border-radius: 2em 2em; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    /* text-align: center; */
    z-index: 5;
}

div.notes-control-button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.main-note-colorbar-low{
    width: 100%;
    height: 0.5em;
    /* display: inline-block; */
    background: rgba(0, 128, 0, 0.35);
    position: relative;
}

div.main-note-colorbar-middle{
    width: 100%;
    height: 0.5em;
    /* display: inline-block; */
    background: rgba(255, 255, 0, 0.77);
    position: relative;
}

div.main-note-colorbar-high{
    width: 100%;
    height: 0.5em;
    /* display: inline-block; */
    background: rgba(255, 0, 0, 0.85);
    position: relative;
}

div.main-notes-description-title{
    font-size: 1.3em;
    margin-top: 2em;
}

div.main-note-ct{
    margin: 0 auto;
    display: block;
    width: 85%;
    max-width: 35em;
    /* vertical-align: middle; */
    align-content: center;
    /* margin-top: 2em; */
    position: relative;
}

div.main-notes-cancel-button{
    display: inline-block;
    width: 45%;
    margin-top: 2em;
    margin-right: 3%;
    margin-left: 3%;
    height: 3em;
    height: 3em
    background: #fff;
    /* border-radius: 2em 2em; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.main-notes-cancel-button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

div.main-notes-ok-button{
    display: inline-block;
    margin-top: 2em;
    width: 45%;
    height: 3em;
    /* background: #E4E0E5; */
    /* border-radius: 2em 2em; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

div.main-notes-ok-button:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


div.main-note-title {
    font-size: 2em;
    margin-top:2em;
}

div.main-note-importance-button{
    margin-top: 2em;
    text-align: center;
    width: 30%;
    margin-left: 3%;
    height: 4em;
    /* background: #fff; */
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
}

div.pair-div-helper{
    text-align: center;
}

p.notes-control-button-text{
    text-align: center;
    /* height: inherit; */
    margin: 4em auto;
    z-index: 5;
}




div#weather-container{
    font-family: 'Source Sans Pro Light';
    box-sizing: border-box;
    /* height: 5em; */
    padding-top: 0.3em;
    /* font-size: 2em; */
    display: inline-block;
    min-width: 375px;
    width: 30%;
}

i#weather-icon{
    line-height: 1;
    font-size: 4em;
    margin-top: 0.3em;
    margin-right: 0.4em;
    /* color: #000000; */
}

div#weather-refresh-button{
    font-size: 4em;
    width: 1em;
    float: right;
    margin-top: 0.3em;
    /* margin-right: 2em; */
}

div#weather-text-container {
    box-sizing: border-box;
    display:inline-block;
    vertical-align: top;
    height: inherit;
    text-align: left;
    /* line-height: 0; */
    /* top: 0; */
    font-size: 1.3em;
}
p.weather-description {
    font-family: 'Source Sans Pro Light';
    box-sizing: border-box;
    display: block;
    font-size: 1.1em;
    margin-right: 0.4em;
    /* line-height: 0; */
    /* font-size: x-large; */
}

p.hue-text{
    margin: 0;
}

img#main-popup-exit{
    filter: grayscale(100%);
    width: 10%;
    max-width: 50px;
    height: auto;
    position: fixed;
    top: 0.4em;
    right: 0.4em;
    z-index: 10;
}

img#main-popup-exit:hover{
    filter: none;
}

div#uhoh {
    font-family: 'Source Sans Pro Light';
    font-size: 1.4em;
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
}


textarea.main-notes-description-area{
    resize: none;
    border: none;
    /* margin-top: 2em; */
    width: 100%;
    height: 10em;
    font-family: 'Source Sans Pro Light';
    font-size: 1.3em;
    outline: none !important;
    border-radius: 0.2em;
}


/* MEDIA CONTENT TO NOT ALLOW THE SCREEN TO BE 375 PX OR LESS */

@media screen and (max-width: 374px) {
    body {
        /*display: none;*/
        background: #f0f0f0;
    }


}

@media screen and (min-width:600px){
    
    div#clock-container{
        height: inherit;
        display: inline-block;
        font-size: 1.7em;
        /* margin-right: 1em; */
        width: 35%;
    }

    
}
